/* Estilos generales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos del encabezado */
.header {
  background-color: #000;
  padding: 20px;
  color: #fff;
  top: 0;
  position: sticky;
  z-index: 5;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  font-size: 24px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.nav__toggle-checkbox {
  visibility: hidden;
}

.nav__logoLink {
  text-decoration: none;
  color: #fff;
}

.nav__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav__menu-item {
  margin-right: 10px;
}

.nav__menu-link {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

.nav__menu-link:hover {
  background-color: #444;
}

/* Estilos de las secciones */
.hero-section {
  background-color: #1f1f1f;
  color: #fff;
  padding: 40px;
  text-align: center;
}

.hero-section__title {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

.hero-section__description {
  font-weight: 400;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.projects-section {
  background-color: #f5f5f5;
  padding: 40px;
  text-align: center;
}

.projects-section__title {
  font-weight: 700;
  font-size: 24px;
  color: #000;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

.projects-section__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 293px));
  gap: 20px;
  justify-content: center;
}

.project-card {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.project-card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.project-card__title {
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}

.project-card__description {
  color: #777;
  font-size: 16px;
  margin-bottom: 10px;
}

.project-card__link {
  color: #007bff;
  text-decoration: none;
}

.project-card__link:hover {
  text-decoration: underline;
}

/* Estilos de la sección Acerca de Mí */
.about-section {
  background-color: #fff;
  padding: 40px;
  text-align: center;
}

.about-section__title {
  font-weight: 700;
  font-size: 24px;
  color: #000;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

.about-section__description {
  color: #777;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.about-section img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  max-height: 300px;
  border-radius: 10%;
}

.about-section__content-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 20px;
}

/* Estilos de la sección de Contacto */
.contact-section {
  background-color: #f5f5f5;
  padding: 40px;
  text-align: center;
}

.contact-section__title {
  font-weight: 700;
  font-size: 24px;
  color: #000;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

.contact-section__description {
  color: #777;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
}

.contact-section__description a {
  color: #007bff;
  text-decoration: none;
}

.contact-section__description a:hover {
  text-decoration: underline;
}

.skills-section {
  background-color: #f5f5f5;
  padding: 40px;
  text-align: center;
  min-height: 74.6vh;
}

.skill-section__title {
  font-weight: 700;
  font-size: 24px;
  color: #000;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

.skills-section__list {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(auto-fill, minmax(100px, 100px));
  gap: 28px;
  text-align: initial;
}

.skills-section__tecnology {
  text-align: center;
  width: 100px;
  height: 100px;
  position: relative;
}

.skills-section__handling {
  display: inline-block;
  opacity: 0;
  width: 100%;
  height: 30px;
  background-color: #000;
  color: #f5f5f5;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: -26px;
  border-radius: 10px;
}

.skills-section__imgtecnology {
  width: 100%;
  height: 100%;
}

.skills-section__tecnology:hover .skills-section__handling {
  display: inline-block;
  opacity: 1;
  transition: all 1s;
}

/* Estilos del pie de página */
.footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

.footer__text {
  margin-bottom: 0;
}

/* Estilos para dispositivos móviles */
@media (max-width: 720px) {
  .container {
    padding: 10px;
  }

  .nav__menu {
    display: none;
  }

  .nav__toggle-label {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  .nav__toggle-icon,
  .nav__toggle-icon::before,
  .nav__toggle-icon::after {
    background-color: #fff;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
  }

  .nav__toggle-icon {
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
  }

  .nav__toggle-icon::before,
  .nav__toggle-icon::after {
    content: "";
    display: block;
  }

  .nav__toggle-icon::before {
    top: -8px;
  }

  .nav__toggle-icon::after {
    top: 8px;
  }

  .nav__toggle-checkbox:checked ~ .nav__menu {
    display: block;
  }

  .nav__toggle-checkbox:checked ~ .nav__toggle-label .nav__toggle-icon {
    transform: translateY(-50%) rotate(45deg);
  }

  .nav__toggle-checkbox:checked ~ .nav__toggle-label .nav__toggle-icon::before {
    transform: translateY(0) rotate(90deg);
  }

  .nav__toggle-checkbox:checked ~ .nav__toggle-label .nav__toggle-icon::after {
    transform: translateY(0) rotate(90deg);
  }

  .nav__menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #000;
    width: 100%;
    padding: 10px 0;
    text-align: center;
  }

  .nav__menu-item {
    margin-bottom: 10px;
  }

  .nav__menu-link {
    color: #fff;
    text-decoration: none;
  }

  .nav__menu-link:hover {
    text-decoration: underline;
  }

  .hero-section__title {
    font-size: 24px;
  }

  .hero-section__description {
    font-size: 16px;
  }

  .projects-section__title {
    font-size: 20px;
  }

  .project-card__title {
    font-size: 18px;
  }

  .project-card__description {
    font-size: 14px;
  }

  .about-section__title {
    font-size: 20px;
  }

  .about-section__description {
    font-size: 14px;
  }

  .contact-section__title {
    font-size: 20px;
  }

  .contact-section__description {
    font-size: 14px;
  }

  .footer {
    font-size: 12px;
  }
}
